* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(223, 222, 222);
}

#container {
    display: grid;
    grid-template: 70px 100px 1fr 30px / 200px auto ;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    height: 100vh;
}

.header {
    display: flex;
    background-color: rgb(247, 247, 247);
    font-weight: bold;
    padding: 20px;
    gap: 15px;
    justify-content: space-between;
    align-items: center; 
}

.header a {
    color: black;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 40px;
    background-color: #166534;
    grid-row: 1 / 4;
    color:rgb(235, 233, 233);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sidebar * {
    cursor: pointer;
}

.sidebar a {
    color:rgb(235, 233, 233)
}

.sidebar #logo {
    font-family: "Fredoka One";
    font-size: 1.5rem;

}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.sidebar li {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30px auto;
    justify-content: start;
    align-items: center;
}

#crunch {
    font-size: 1.3em;
}

#search {
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchBox {
    border-radius: 12px;
    background-color: #dcfce7;
    border: 1px solid #166534;
    height: 24px;
    width: 300px;
    padding-left: 8px;
}

#searchBox:focus {
    border: 2px solid #166534;
    outline: none;
}

#user {
    display: flex;
    gap: 14px;
    align-items: center;
}

.mainDashboard {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    grid-row: 2 / 4;
}

.mainDashboard .actionsContainer {
    display: grid;
    padding: 20px;
    gap: 20px;
    overflow: scroll;
    align-content: start;
}

.mainDashboard .actionsContainer .cardContainer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: start;
    align-content: start;
}

.actionCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 150px;
    width: minmax(250px, 100%);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 4px gray;
    border-left: 8px solid #16a34a;
}

.actionCard.warning {
    border-left: 8px solid #fde047;
}

.actionCard.alert {
    border-left: 8px solid #b91c1c;
}

.readIcon {
    margin-top: auto;
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
}

.otherInformationContainer {
    display: grid;
    padding: 8px;
    gap: 8px;
    align-content: start;
}

.otherInformationContainer .otherInformationSubContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.otherInformationContainer .otherInformationSubContainer #announcementsGrid {
    display: grid;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 1px 2px grey;
}

#topAchieversGrid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 5px;
}

.announcementsCard {
    border-top: 1px solid darkgray;
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.announcementsCard:first-child {
    border-top: none;
}

.topAchieversCard {
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 1px 2px grey;
    font-size: 0.8rem;
    gap: 8px;
}


.footer {
    font-size: 0.9rem;
    background-color: darkgray;
    display: grid;
    grid-area: 4 / 1 / 5 / 3;
    justify-content: center;
    align-content: center;
}

.iconify {
    font-size: 1.4em;
}
