* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(223, 222, 222);
}

#container {
    display: grid;
    grid-template: 70px 100px auto 30px / 200px auto ;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    height: 100vh;
}

.header {
    display: flex;
    background-color: rgb(247, 247, 247);
    font-weight: bold;
    padding: 20px;
    gap: 15px;
    justify-content: space-between;
    align-items: center; 
}

.header a {
    color: black;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 40px;
    background-color: #166534;
    grid-row: 1 / 4;
    color:rgb(235, 233, 233)
}

.sidebar a {
    color:rgb(235, 233, 233)
}

.sidebar #logo {
    font-family: "Fredoka One";
    font-size: 1.5rem;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    cursor: pointer;
}

.sidebar li {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30px auto;
    justify-content: start;
    align-items: center;
}

#crunch {
    font-size: 1.3em;
}

#search {
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchBox {
    border-radius: 12px;
    background-color: #dcfce7;
    border: 1px solid #166534;
    height: 24px;
    width: 300px;
    padding-left: 8px;
}

#searchBox:focus {
    border: 2px solid #166534;
    outline: none;
}

#user {
    display: flex;
    gap: 14px;
    align-items: center;
}

.footer {
    font-size: 0.9rem;
    background-color: darkgray;
    display: grid;
    grid-area: 4 / 1 / 5 / 3;
    justify-content: center;
    align-content: center;
}

.iconify {
    font-size: 1.4em;
}
